# Template environment variables for docker-compose and runtime configuration

TZ=America/Bogota
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=ciudad_inteligente
MYSQL_USER=nodered_user
MYSQL_PASSWORD=nodered_password_change_me
MYSQL_PORT=3306

MQTT_SERVER=broker.local
MQTT_PORT=1883
MQTT_USER=your_mqtt_user
MQTT_PASS=your_mqtt_password
MQTT_BROKER_URL=tcp://broker.local:1883
TOPICO_DATOS=some/topic/datos
TOPICO_COMANDOS=some/topic/comandos

CMD_COOLDOWN_MS=10000
UMBRAL_MQ135_PELIGRO=200
UMBRAL_MQ7_PELIGRO=200
UMBRAL_TEMP_INCENDIO=50

PH3_PEL_PPM=0.0
PH3_STEL_PPM=0.0
PH3_IRRIT_LOW_PPM=0.0
PH3_IRRIT_HIGH_PPM=0.0
PH3_IDLH_PPM=0.0
PH3_LETHAL_LOW_PPM=0.0

CO_PEL_PPM=0.0
CO_HEADACHE_PPM=0.0
CO_STEL_PPM=0.0
CO_SEVERE_PPM=0.0
CO_IDLH_PPM=0.0

TEMP_ALERTA_C=45

MQ135_RAW_MIN=0
MQ135_RAW_MAX=1023

MQ7_RAW_MIN=0
MQ7_RAW_MAX=1023
PH3_PPM_MAX_EST=0.0
CO_PPM_MAX_EST=0.0
